img {
    max-width: 100%;
    height: auto;
}

/* Existing CSS */
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Optional: Center the nav items */
}

.nav-item {
    flex: 1 0 auto;
    text-align: center;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 5px;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        width: 100%;
        text-align: left;
        padding-left: 5px !important;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling on the body */
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    /* Ensure the table fits within the width */
    word-wrap: break-word;
    /* Ensure content wraps within the cell */
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

@media screen and (max-width: 768px) {

    /* Adjust for smaller screens */
    table {
        display: block;
        /* Make the table scrollable on small screens */
        overflow-x: auto;
        /* Allow horizontal scrolling if needed */
        white-space: nowrap;
        /* Prevent table cells from wrapping */
        border: none;
        /* Remove border to prevent extra space */
    }
}